extends layout

block content

  h1(style='margin-top:110px') #{gear.gear_name}

  p #[strong Brand:] #{gear.brand.brand_name}
  p #[strong Summary:] #{gear.summary}
  p #[strong Type:]  #{gear.gear_type.name}
  p #[strong Seller:] #{gear.listing_creator.username}
  if(currentUser)
   form(method= 'POST', action='/cart/gear/add')
    input(type= "hidden", value = gear._id, name = 'gear')
    input(type= "hidden", value = currentUser._id, name='user')
    button.btn.btn-secondary(type= 'submit') Add to cart
  else 
   p #[strong Please login to purchase this item]
  

    
