extends layout

block content

  h1 #{gear.gear_name}

  p #[strong Brand:] #{gear.brand.brand_name}
  p #[strong Summary:] #{gear.summary}
  p #[strong Type:]  #{gear.gear_type.name}
  p #[strong Seller:] #{gear.listing_creator.username}
  if(currentUser)
   a(href='users/cart/update' class="btn btn-secondary") Add to cart
  

    
