
extends layout

block content
  h1(style='margin-top:110px') #{motorcycle.model}

  p #[strong Manufacturer:] #{motorcycle.manufacturer.manufacturer_name}
  p #[strong Summary:] #{motorcycle.summary}
  p #[strong Type:] #{motorcycle.type.name}
  p #[strong Seller:] #{motorcycle.listing_creator.username}

  if(currentUser)
   form(method= 'POST', action='/cart/motorcycle/add')
    input(type= "hidden", value = motorcycle._id, name = 'motorcycle')
    input(type= "hidden", value = currentUser._id, name='user')
    button.btn.btn-secondary(type= 'submit') Add to cart
  else 
   p #[strong Please login to purchase this item]

  if(currentUser)
   if(currentUser.username == motorcycle.listing_creator.username)
    p(style="margin-top:10px")
     a(href=motorcycle.url+'/update' class="btn btn-secondary") Update Motorcycle
   else
    p 


    
