
extends layout

block content
  h1(style='margin-top:110px') #{motorcycle.model}

  p #[strong Manufacturer:] #{motorcycle.manufacturer.manufacturer_name}
  p #[strong Summary:] #{motorcycle.summary}
  p #[strong Type:] #{motorcycle.type.name}
  p #[strong Seller:] #{motorcycle.listing_creator.username}

  if(currentUser)
   form(method= 'POST', action='/cart/motorcycle/add')
    input(type= "hidden", value = motorcycle._id, name = 'motorcycle')
    input(type= "hidden", value = currentUser._id, name='user')
    button.btn.btn-secondary(type= 'submit') Add to cart
  else 
   p #[strong Please login to purchase this item]

  p
    a(href=motorcycle.url+'/update') Update Motorcycle

  // There should probably be a form to submit Motorcycle obj to controller for cart additions

    
