
extends layout

block content
  h1 #{motorcycle.model}

  p #[strong Manufacturer:] #{motorcycle.manufacturer.manufacturer_name}
  p #[strong Summary:] #{motorcycle.summary}
  p #[strong Type:] #{motorcycle.type.name}
  p #[strong Type:] #{motorcycle.listing_user.username}

  hr
  //p
    //a(href=book.url+'/delete') Delete Book
  p
    a(href=motorcycle.url+'/update') Update Motorcycle

    
